@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


html {
    height: 100%;
}

body {
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.app {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
    color: #fff;
    margin: 0;
    padding: 50px;
    text-align: center;
}

.h1 {
    margin: 0;
    font-size: 80px;
    font-weight: 400;
}

.h3 {
    font-weight: 500;
}

.sectionTitle {
    font-size: 50px;
    text-align: left;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #ffe65e;
    color: #000000;
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    font-size: 20px;
    min-width: 250px;
    cursor: pointer;
}

.loader,
.loader:before,
.loader:after {
    background: #ffe65e;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #ffe65e;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@media only screen and (max-device-width: 767px) {
    .h1 {
        font-size: 30px;
    }

    .h2 {
        font-size: 22px;
    }

    .h3 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    .app {
        padding: 20px;
    }

    .sectionTitle {
        text-align: center;
        font-size: 30px;
    }
}

@media only screen and (min-device-width: 767px) and (max-device-width: 1030px) {
    .h1 {
        font-size: 40px
    }

    .h2 {
        font-size: 40px;
    }
}

@media only screen and (min-width:1200px) {
    .app {
        overflow: hidden;
    }
}